.card11 {
  background-image: linear-gradient(
  45deg,
  hsl(0deg 85% 56%) 0%,
  hsl(0deg 85% 57%) 5%,
  hsl(0deg 85% 58%) 10%,
  hsl(1deg 85% 59%) 14%,
  hsl(1deg 86% 59%) 19%,
  hsl(1deg 86% 60%) 24%,
  hsl(1deg 86% 61%) 29%,
  hsl(1deg 86% 61%) 33%,
  hsl(1deg 86% 62%) 38%,
  hsl(1deg 86% 63%) 43%,
  hsl(1deg 86% 64%) 48%,
  hsl(1deg 86% 64%) 52%,
  hsl(1deg 86% 65%) 57%,
  hsl(1deg 86% 65%) 62%,
  hsl(1deg 86% 66%) 67%,
  hsl(1deg 86% 67%) 71%,
  hsl(0deg 86% 67%) 76%,
  hsl(0deg 86% 68%) 81%,
  hsl(0deg 85% 69%) 86%,
  hsl(0deg 85% 69%) 90%,
  hsl(0deg 85% 70%) 95%,
  hsl(0deg 84% 70%) 100%
);
}

  .lower1st {
      scrollbar-width: none;
      -ms-overflow-style: none;
  }
  .lower1st::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
  }

  .lower {
    box-shadow: 0 0 10px 10px #00000008;
  }