.loader-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  position: relative;
  top: -110px;
  left: 0;
}
.loader-37 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-bottom: 2px solid #ee3131;
  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}