.verify {
  border-radius: 0 0 8px 8px !important;
  font: 900 14px "Arial" !important;
  color: #ee3131;
  box-shadow: none;
  border: 1px solid #ee3131 !important;
}
.mobileInput, .OTPInput {
  border-radius: 8px 8px 0 0 !important;
  // font: 600 1.6vmax "Arial" !important;
}

.mobileInput:focus, .OTPInput:focus {
  border-radius: 8px 8px 0 0 !important;
  // font: 600 1.6vmax "Arial" !important;
  // border-color: #ccc !important;
  outline: #ee3131;
}

.loginBtn,
.signUpBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 8px "Arial";
  width: 100%;
  padding: 0.4vmax;
  cursor: pointer;
  transition: all 0.2s;
  // border-radius: 4px;
  outline: none;

  // box-shadow: 0px 8px 8px rgba(238, 49, 49, 0.222);
  // width: calc(50% - 7px);
// height: 48px;
// line-height: 48px;
// font-weight: 500;
// font-size: 14px;
border-radius: 8px;
}



.LoginSignUpContainer {
    width: 100vw;
    height: 90vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    // padding-top: 50px;
    background-color: rgb(231, 231, 231);
    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    // animation: gradient 10s ease infinite;
  }


//   @keyframes gradient {
//     0% {
//       background-position: 0% 50%;
//       }
//     50% {
//       background-position: 100% 50%;
//       }
//     100% {
//       background-position: 0% 50%;
//       }
// }
  

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.login-img {
  animation: bounce-slow 2s ease-in-out infinite;
  scale: 0.6;
}

  .LoginSignUpBox {
    background-color: rgba(255, 255, 255, 0.579);
    box-shadow: 0px 20px 40px rgba(38, 58, 126, 0.14);
    width: 25vw;
    border-radius: 8px;
    padding: 20px 10px;
    height: 60vh;
    box-sizing: border-box;
    overflow: hidden;
  }

  .login_signUp_toggle {
    display: flex;
    height: 3vmax;
  }
  .login_signUp_toggle > p {
    color: rgba(0, 0, 0, 0.678);
    font: 300 1vmax "Arial";
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
  }
  .login_signUp_toggle > p:hover {
    color: tomato;
  }
  
  .LoginSignUpBox > div > button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
  }

  .btn-next {
    height: 30px !important;
    border-radius: 4px;
    padding: auto 5px;
    color: #fff;
    font: 1.2rem !important;
  }

  .btn-next:disabled {
    background-color: #ccc;
    color: #fff;
  }
  
  .loginForm,
  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
//   .signUpForm {
//     transform: translateY(-100%) translateX(-100vmax);
// }
  
  .loginForm > div,
  .signUpForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 1vmax 4vmax;
    // padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 2px;
    font: 300 0.9vmax 'Arial';
    letter-spacing: 0.5px;
    outline: none;
  }
  
  .loginForm > div > svg,
  .signUpForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.623);
  }

  .sgv-mo {
    // transform: translateX(0vmax) !important;
    transform: translateY(1vmax) !important;
    // position: absolute;
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  .loginForm > a {
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 0.8vmax "Arial";
  }
  
  .loginForm > a:hover {
    color: black;
  }
  
  #registerImage > img {
    width: 3.5vmax;
    border-radius: 100%;
    object-fit: cover;
  }
  #registerImage > input {
    display: flex;
    padding: 0%;
  }
  
  #registerImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax 'Arial';
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }
  
  #registerImage > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }
  
  
  // .loginBtn:hover,
  // .signUpBtn:hover {
  //   background-color: rgb(225, 224, 224);
  // }
  
  .shiftToLeft {
    transform: translateX(-100%);
  }
  .shiftToNeutral {
    transform: translateX(0%);
  }
  
  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  
  .shiftToRight {
    transform: translateX(100%);
  }
  
  
  @media screen and (max-width: 600px) {
    
  }
  @media (max-width: 768px) {
    .LoginSignUpBox {
      width: 90vw;
      height: 910px;
    }

    .left-main-container {
      width: 100%;
    }

    .shiftToLeft {
      transform: translateX(-200%);
    }
    .login-register-container {
      margin-bottom: 30px;
    }

    .LoginSignUpContainer {
      justify-content: center;
      align-items: baseline;
      // padding: 10% 5%;
      height: 820px;
    }
    
.LoginSignUpBox {
  padding: 20px 10px;
  border: 1px solid rgba(36,39,44,.1);
box-shadow: 0px 6px 10px rgba(0,0,0,.05);
border-radius: 16px;
height: 710px;
}

    .login_signUp_toggle > p {
      font-size: 3vw;
    }
    
    .login_signUp_toggle {
      height: 5vw;
    }
    
    .LoginSignUpBox > div > button {
      font-size: 3vw;
    }
    
    .loginForm {
      height: 270px;
      position: relative;
      top: 50px;
      scale: 1.4;
    }
    .signUpForm {
      // height: 450px;
      position: relative;
      // top: 220px;
      scale: 1.4;
    }
.signUpForm > div > input, .loginForm > div > input {
  padding: 10px 10px 10px 40px;
  font: 300 10px 'Arial';
}

.loginForm > div > svg, .signUpForm > div > svg {
  scale: 0.9;
}

    #registerImage > img {
      width: 7vmax;
    }
    .loginForm > a {
      font-size: 2vw;
    }
  }
  