*, ::after, ::before {
    box-sizing: border-box;
  }
  body, html {
    font-family: Sans-Serif,Arial;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
.navbar {
    background: rgb(255, 255, 255);
position: sticky;
position: -webkit-sticky;
top: 0;
z-index: 1100;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.upperNav, .lowerNav {
    object-fit: contain;
    display: flex;
    width: 83.33%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-shrink: 1;
}
.upperNav {
    padding: 10px 0;
    transition: all 300ms ease-in-out;
}
.lowerNav {
    white-space: nowrap;
    font-size: smaller;
}
.searchInput {
    background: #f7f7f7;
border: 0;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: 0px;
border-left: 1px solid rgba(36,39,44,.1);
border-radius: 4px 0 0 4px;
box-shadow: inset 0 1px 4px 0 rgba(0,0,0,.1);
color: #24272c;
float: right;
font-size: 14px;
height: 48px;
line-height: 18px;
margin-right: 60px;
padding: 0 20px;
text-overflow: ellipsis;
width: 400px;
}
.searchBtn {
    background: #24272c;
border: 0;
border-radius: 0 4px 4px 0;
cursor: pointer;
display: inline-block;
height: 48px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.lowerNav > ul > li {
    display: inline-block;
    font-size: 1rem;
    transition: all 100ms ease;
}

/* Hover Effect */
.lowerNav > ul > li::after {
    background: #fff;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.lowerNav > ul > li:hover {
    border-top: 2px solid #ee3131;
}


@media screen and (max-width: 820px){
    .searchInput {
        width: 200px;
    }
    form {
        width: 250px;
    }
    .lowerNav {
        display: none;
    }
}