

.sd {
    box-shadow: -10px -10px 10px #ffffff70, 10px 10px 10px #aeaec020;
    border-bottom: 1px solid #e1e1e1;
}
.sdn {
    box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px #aeaec040;
}
.down {
    background-color: #f0f0f3;
}