.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 4rem 2.2rem;
    width: 250px;
    height: 100vh;
    // border-radius: 5px;
    background: #ffffff;
    box-shadow:  -20px -0px 0px #252525,
                 20px 0px 0px #1a1a1a;
  }
  .collapsed {
    width: 80px; /* Set the width of collapsed sidebar */
    overflow: hidden; /* Hide the content when collapsed */
  }
  .sidebar > a:first-child {
    padding: 2rem 4rem 2rem 0;
    margin-bottom: 4rem;
    scale: 1.2;
  }
  .sidebar > a > img {
    transition: all 0.5s;
  }

  .sidebar {
    // ...
  
    &.collapsed {
      // ...
  
      .collapse-icon {
        transform: rotate(180deg); // Rotate the collapse icon when the sidebar is collapsed
        scale: 2.5;
      }
  
      h2 {
        display: none; // Hide the user name when the sidebar is collapsed
      }
  
      a > p {
        display: none; // Hide the sidebar text when the sidebar is collapsed
      }
      a:first-child {
        padding: 2rem 0 2rem 0; // Remove the padding from the logo when the sidebar is collapsed
      }
      a {
        margin-left: 0rem;
      }
    }
  
    // ...
  }
  .rotate-180 {
    transform: rotate(180deg);
  }

  .collapse-icon {
    margin: 1rem;
    cursor: pointer;
    transition: all 0.2s;       
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
  }
  
//   .sidebar > a > img:hover {
//     filter: drop-shadow(0 0 10px tomato);
//   }
  .sidebar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Arial";
    // padding: 1rem 0 0 1rem;
    border-radius: 8px;
    scale: 1.1;
    transition: all 0.2s;
  }
  .sidebar a:hover {
    color: tomato;
    transform: scale(1.05);
  }
  
  .sidebar a > P {
    display: flex;
    align-items: center;
  }
  .sidebar a > p > svg {
    margin-right: 0.5rem;
  }
  
  .MuiTypography-root {
    background-color: #fff !important;
  }