.leftArrow {
    left: 32px;
}
@media screen and (max-width: 639px) {
  .rightArrow {
    left: 330px;
  }
    .leftArrow {
        left: 5px;
    }
    .bottomDots {
        display: none;
    }
}
@media screen and (max-width: 400px) {
  .rightArrow {
    left: 289px;
  }
    .leftArrow {
        left: 5px;
    }
}
