.filter-bt1 {
    background: #fff;
    border: 1px solid rgba(36,39,44,.1);
    box-shadow: 0px 1px 4px rgba(36,39,44,.1);
    border-radius: 8px;
    padding: 10px 5px 8px 10px;
    height: 34px;
    color: #24272c;
    font-size: 12px;
    line-height: 16px;
    width: 80px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.infinite-scroll-component__outerdiv {
  width: 100%;
}
.infinite-scroll-component {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.right-filter-secondary-container {
    background: #fff;
    border: 1px solid rgba(36,39,44,.1);
    box-shadow: 0px 6px 10px rgba(0,0,0,.05);
    border-radius: 16px;
    overflow: hidden;
    height: 324px;
    margin-bottom: 24px;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax;
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}
.paginationBox {
  display: flex;
    justify-content: center;
    margin: 2vmax 0 2vmax 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .warranty-alert img {
    object-position: center top -40px;
  }
.category-link {
  user-select: none;
}


// for slider 

[class^="PrivateValueLabel-circle-"] {
  transform: rotate(0deg) !important;
  border-radius: 8px !important;
  justify-content: center;
  padding-left: auto !important;
  width: 71px !important;
  height: 40px !important;
}


.MuiSlider-root {
  width: 95% !important;
  }

  [class^="PrivateValueLabel-label-"] {
    transform: rotate(0deg) !important;
    padding-left: auto !important;
  }
  

//for categories
.selected {
  background-color: #ee3131;
  color: white;
}


  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
 
  
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .page-item:hover .page-link {
    color: rgb(0, 0, 0);
  }
  
  .pageItemActive {
    background-color: #ee3131;
  }
  
  .pageLinkActive {
    color: white;
  }
    @media screen and (max-width: 639px) {
        .right-filter-secondary-container {
            background: #fff;
            border: none;
            box-shadow: none;
            border-radius: 0;
            overflow: hidden;
            height: 0;
            margin-bottom: 0;
        }
        .page-link {
            font:300 1.4vmax;
        }
      }
      @media screen and (max-width: 400px) {
        .right-filter-secondary-container {
          background: #fff;
          border: none;
          box-shadow: none;
          border-radius: 0;
          overflow: hidden;
          height: 0;
          margin-bottom: 0;
        }
        .page-link {
          font:300 1.4vmax;
    }
    }