.speedDial {
    position: relative;
    right: -2vmax;
    z-index: 100;
    border-color: #ee3131;
    // background-color: #ee3131;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 15px;
  }
  @media (max-width: 639px) {
    .speedDial {
        top: 7vmax;
        scale: 0.7;
      right: 0vmax;
    }
}

@media (max-width: 400px) {
    .speedDial {
        top: 8vmax;
        scale: 0.7;
      right: 0vmax;
    }
  }
  .MuiFab-primary {
    background-color: transparent !important; /* Change color to red */
    border:   1px solid #ee3131 !important;
  }
  .MuiFab-root {
    box-shadow: 0px 0px 0px rgb(0, 0, 0) !important;
  }
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }