@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  scroll-behavior: smooth;
}
/* Disable selection outline for all elements in Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  :root, ::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.btn {
  box-shadow: 0px 8px 8px rgba(238, 49, 49, 0.222);
border-radius: 8px;
}

.btn-secondary {
  border-radius: 8px;
  background: #ffffff3a;
border: 1px solid #ee3131;
color: #ee3131;
}
